
.main-tables-container {
    display: flex;
    width: 960px;
    margin: 0 auto;
}
.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
}
.plans-container--slider {
    justify-content: center;
}

.currency-container--slider {
    justify-content: center;
}
